html {
  overflow-x: hidden;
}

.blue-font {
  color: #172b4d;
}

.green-font {
  color: #36b37e;
}

.dark-green-font {
  color: #3a4a42;
}

.natural {
  background-color: #ebf0ee;
  padding: 5px;
}

.green-background {
  background-color: #36b37f;
  border-radius: 3px;
  padding: 10px;
}

.about {
  margin: 0 auto;
  width: 100%;
  margin-top: 30px;
}

.about-me {
  margin: 0  auto;
  width: 60%;
  padding-top: 80px;
}

.main-image {
  background-image: url("./images/mobile-grp.png");
  background-size: 350px 580px;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  width: 100%;
}

.works-title {
  border-bottom: 1px solid #36b37e;
  border-width: medium;
}

.skills {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

.know-me {
  margin: 0 auto;
  padding-bottom: 30px;
}

.main {
  position: relative;
}

.about-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
}

.about-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.background-dark {
  background-color: #ebf0ee;
}

.contact-form {
  margin: 0 auto;
  width: 90%;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.footer {
  position: relative;
  margin: 100px auto;
}

.footer-img {
  width: 50px;
  height: 80px;
  position: absolute;
  right: 0;
  top: 0;
}

.footer-icons {
  margin-top: 40px;
}

.footer-text {
  text-align: center;
}

@media (min-width: 410px) {
  .main-image {
    width: 100%;
    background-size: 430px 700px;
    margin-left: 30px;
    background-position: center;
  }
}

@media (min-width: 465px) {
  .main-image {
    background-image: none;
  }

  #about-me {
    background-image: url("./images/grp.png");
    width: 100%;
    background-size: 500px 550px;
    background-position: center;
  }

  .about-me {
    padding-top: 0;
  }
}

@media (min-width: 410px) {
  .main-image {
    width: 100%;
    background-size: 430px 700px;
    background-position: center;
    margin-left: 30px;
  }
}

@media (min-width: 465px) {
  .main-image {
    background-image: none;
  }

  .about-me {
    padding-top: 75px;
  }

  #about-me {
    width: 100%;
    background-size: 600px 550px;
    background-position: center;
  }
}

@media (min-width: 410px) {
  .main-image {
    width: 100%;
    background-size: 430px 700px;
    margin-left: 30px;
  }
}

@media (min-width: 600px) {
  .main-image {
    background-image: none;
    background-position: center;
  }

  #about-me {
    background-size: 700px 550px;
    text-align: center;
  }

  .about-me {
    width: 50%;
  }
}

@media (min-width: 600px) {
  #about-me {
    background-size: 1300px 800px;
    text-align: center;
  }

  .about-me {
    width: 45%;
  }

  .works {
    padding-top: 40px;
  }

  #contact-me {
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
  }

  .container {
    width: 70%;
  }

  .text-container {
    width: 30%;
  }

  .know-me {
    width: 90%;
  }

  .footer {
    margin-top: 30px;
  }

  .footer-text,
  .icons-3 {
    margin: 0 auto;
    width: 20%;
  }
}
